<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- <a ui-sref-active="active" ui-sref="home">
                <fullstack-logo></fullstack-logo>
            </a> -->
            
            <button type="button" class="navbar-toggle navbar-toggle-button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <a class="navbar-brand" ui-sref="home">UPCOIN</a>
        </div>
        
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                    <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
                </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li><button ng-show="!user" ui-sref="login" class="btn login-button">Login</button></li>
                <li><button ng-show="user" ui-sref="log" class="btn login-button">Log</button></li>
<!-- class="welcome" -->
    <li ng-show="user"><a>Hi, {{ user.name }}!</a></li>
    <li ng-show="user"><a class="logout" ng-click="logout()">Logout</a></li>
            </li>
        </ul>
        </div>
    </div>
</nav>