navbar {
  display: block;
  background: white;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  // fullstack-logo {
  //   margin-top: 5px;
  //   margin-right: 20px;
  //   width: 40px;
  // }

  .navbar-toggle-button {
    border-color: #ddd;
    z-index: 3;

    .icon-bar {
      background-color: #888;
    }
  }

  .navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
    color: gold;
    font-size: 200%;
    font-weight: bold;
  }

  a {
    color: black;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;

    &.active {
      color: darken(gold, 5%);
    }

    &:hover {
      background: none;
      color: gold;
    }

    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    margin: 10px;
    outline: none !important;
    background-color: gold;
    color: white;
    font-weight: bold;
  }

  .logout {
    color: lighten(gold, 10%);
    text-decoration: underline;
  }

  // .welcome {
  //   float: right;
  //   margin-top: 12px;

  //   span {
  //     color: black;
  //     font-size: 16px;
  //     margin-right: 5px;
  //   }

  //   a {
  //     color: darken(gold, 10%);
  //     cursor: pointer;
  //   }
  // }
}